spring:
  profiles:
    active: default
  datasource:
    url: jdbc:h2:mem:bayzdelivery
    username: db_user
    password: 123qwe
    driver-class-name: org.h2.Driver
  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      dialect: org.hibernate.dialect.H2Dialect
      ddl-auto: none
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.xml
  sql:
    init:
      mode: always

server:
  error:
    include-stacktrace: never
  port: 8080
  servlet:
    context-path: /api

# application-specific string used to encrypt tokens
security:
  jwt:
    token:
      secret-key: secret-key-for-encryption
      # token valid for 10 minutes
      expiration: 600000